<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="ven" class="in.nareshit.raghu.Vendor">
    	<property name="vid" value="9"/>
    	<property name="vname" value="NIT"/>
    </bean>
    
    <bean id="pob" class="in.nareshit.raghu.Product">
    	<property name="pid" value="101"/>
    	<property name="pcode" value="PEN"/>
    	
    	<property name="vob">
    		<ref bean="ven"/>
    	</property>
    </bean>

</beans>