<html xmlns:th="https://www.thymeleaf.org/">
	<head>
		<title>WELCOME</title>
	</head>
	<body>
		<h3>WELCOME TO EMPLOYEE DATA PAGE </h3>
		<table border="1">
			<tr>
				<th>ID</th>
				<th>NAME</th>
				<th>SAL</th>
				<th>DEPT</th>
				<th>GEN</th>
				<th>ADDR</th>
				<th>OPERATIONS</th>
			</tr>
			<tr th:each="ob:${list}">
				<td>[[${ob.empId}]]</td>
				<td>[[${ob.empName}]]</td>
				<td>[[${ob.empSal}]]</td>
				<td>[[${ob.empDept}]]</td>
				<td>[[${ob.empGen}]]</td>
				<td>[[${ob.empAddr}]]</td>
				<td>
					<a th:href="@{/employee/delete(id=${ob.empId})}">DELETE</a> |
					<a th:href="@{/employee/edit(id=${ob.empId})}">EDIT</a> 
				</td>
			</tr>
	
		</table>
		[[${message}]]
	</body>
</html>